stages:
  - test
  - docs

rust-exampes:
  image: "rust:latest"
  stage: test
  parallel:
    matrix:
      - BOARD: PocketBeagle-2
        EXAMPLE:
        - blinky
        - button
        - fade
        - eeprom
        - light_sensor
        - seven_segment
        - tonal_buzzer
        - rgb_led
  before_script:
    - rustup component add clippy
    - rustc --version && cargo --version  # Print version info for debugging
  script:
    - cd ${BOARD}/${EXAMPLE}/rust
    - cargo clippy --no-deps
    - cargo build
    - cargo test


python-examples:
  image: "debian:bookworm-slim"
  stage: test
  parallel:
    matrix:
      - BOARD: PocketBeagle-2
        EXAMPLE:
        - blinky
        - button
        - fade
        - eeprom
        - light_sensor
        - seven_segment
        - tonal_buzzer
        - rgb_led
  before_script:
    - apt-get update -y
    - apt-get upgrade -y
    - apt-get install -y python3-libgpiod pylint
    - export PYTHONPATH=$PWD/Libraries/python/beagle_helper/src:$PYTHONPATH
  script:
    - cd ${BOARD}/${EXAMPLE}/python
    - pylint -E main.py


python-library:
  image: "python:alpine"
  stage: test
  before_script:
    - pip install build
  script:
    - cd Libraries/python/beagle_helper
    - python -m build

pb2-techlab-workshop:
  image: "ubuntu:latest"
  stage: docs
  parallel:
    matrix:
      - BOARD: PocketBeagle-2
        DOC:
        - TechLab-Workshop-Student-Handouts
        - TechLab-Workshop-Instructor-Slides
  before_script:
    - apt-get update && apt-get install -y software-properties-common unzip curl git wget
    - add-apt-repository ppa:sile-typesetter/sile
    - DEBIAN_FRONTEND=noninteractive apt-get install -y sile luarocks
    - curl https://www.beagleboard.org/app/plugins/w3-total-cache/pub/fonts/w3tc.ttf -o /usr/share/fonts/w3tc.ttf
    - wget https://github.com/vmware-archive/clarity-city/archive/refs/tags/v1.0.0.zip
    - unzip -d /usr/share/fonts/ v1.0.0.zip
    - fc-cache -f
  script:
    - cd docs
    - luarocks install --tree lua_modules markdown.sile
    - luarocks install --tree lua_modules highlighter.sile
    - sile ${BOARD}-${DOC}.xml
  artifacts:
    paths:
      - docs/${BOARD}-${DOC}.pdf
